{% extends 'base/base.html' %}
{% block content %}
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-3">
                    <div class="card">
                        <img src="{{ product.images }}"
                             class="card-img-top float-start product-image">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.titles }}</h5>
                            <div class="price-container">
                                <p class="card-title product-price">{{ product.prices_usd }} USD <br>
                                    {{ product.prices_pen }} PEN
                                   
                                </p>
                            </div>
                            <p class="card-text">
                                Marca:  {{ product.marca.marca }} <br>   
                                Categoría: {{ product.categoria.categoria }}  <br> 
                                Stock:   {{ product.stocks }}   <br>
                                Code:    {{ product.codes }} <br>
                                Code_id:    {{ product.codes.id }} <br>
                                Code_code:    {{ product.codes.codes }}<br>
                                product_id:    {{ product.id }}<br>
                            </p>
                            <a class="btn btn-tomato" href="{% url 'get_product' id=product.codes.id %}">Leer más</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}